.site-intro{
    width: 100%;
    text-align: center;
    margin-top: 40vh;
    position: absolute;
}
.site-intro h1{
    color:#fff;
    font-family: 'Sarina', cursive;
    font-size: 4em;
    font-weight: 100;
    text-shadow: -5px 4px 0px #000;
    margin-bottom: 0px;
}

.site-intro h3{
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
}